@using ZdtbSite.Model
@model IEnumerable<ZdtbSite.Model.Document>
@{
    Layout = null;
}

<ul>
    @{
        int i=0;
        foreach (Document document in Model)
        {
            <li><a href="@Url.Content(@document.Path)">@document.Title</a></li>
            if (++i > 3)
            {
                break;
            }
        }
    }
</ul>
<a href="@Url.Action("Index", "Document", new { view = ZdtbSite.Web.Controllers.DocumentView.Index })">more</a>
