@{
    ViewBag.Title = "Index";
}

@section UserName{
    Jason
}

@section PageHeader{
    用户管理
}
<div class="fluid-container">
    <div style="padding-bottom:10px">
        <a class="btn btn-primary" href="@Url.Action("Add")">
            <i class="icon-ok-sign icon-white"></i> 添加
        </a>
        <a class="btn btn-warning" href="@Url.Action("Modify")">
            <i class="icon-edit icon-white"></i> 编辑
        </a>
        <a class="btn btn-danger" href="@Url.Action("Delete")">
            <i class="icon-remove icon-white"></i> 删除
        </a>
        <a class="btn btn-inverse" href="@Url.Action("Assign")">
            <i class="icon-share-alt icon-white"></i> 权限分配
        </a>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-md-12">
                <!-- new widget -->
                <div class="jarviswidget jarviswidget-sortable" role="widget">
                    <header role="heading">
                        <h2>用户</h2>
                    </header>
                    <!-- wrap div -->
                    <div>
                        <div class="inner-spacer">
                            <!-- content goes here -->
                            <table class="table table-bordered table-striped checked-in responsive has-checkbox" id="sc-table">
                                <thead>
                                    <tr>
                                        <th class="first"><i class="icon-resize-vertical"></i></th>
                                        <th>Column name</th>
                                        <th>Column name</th>
                                        <th>Column name</th>
                                        <th>Column name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox">
                                        </td>
                                        <td>Row 1</td>
                                        <td>Row 2</td>
                                        <td>Row 3</td>
                                        <td>Row 4</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox">
                                        </td>
                                        <td>Row 1</td>
                                        <td>Row 2</td>
                                        <td>Row 3</td>
                                        <td>Row 4</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox">
                                        </td>
                                        <td>Row 1</td>
                                        <td>Row 2</td>
                                        <td>Row 3</td>
                                        <td>Row 4</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox">
                                        </td>
                                        <td>Row 1</td>
                                        <td>Row 2</td>
                                        <td>Row 3</td>
                                        <td>Row 4</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox">
                                        </td>
                                        <td>Row 1</td>
                                        <td>Row 2</td>
                                        <td>Row 3</td>
                                        <td>Row 4</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox">
                                        </td>
                                        <td>Row 1</td>
                                        <td>Row 2</td>
                                        <td>Row 3</td>
                                        <td>Row 4</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="dt-footer">
                                <div class="row">
                                    <div class="col-md-6 visible-md visible-lg">
                                        <div class="dataTables_info" id="dtable_info">当前页/总页数 : 1/20</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="dataTables_paginate paging_bootstrap pagination">
                                            <ul class="pagination">
                                                <li class="prev disabled"><a href="#">← Previous</a></li>
                                                <li class="active"><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li class="next"><a href="#">Next → </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end content-->
                    </div>
                    <!-- end wrap div -->
                </div>
                <!-- end widget -->
            </article>
        </div>


    </section>

</div>
