<div class="text_bar2">
    <div class="wraper">
        <h2>
            Leadership in Quality Designed Products and Quality Customer Satisfaction
            <span>Minnan has been committed to solve your power solutions!</span>
        </h2>
        <a class="buy btn_l" href="@Url.Action("index","pay")">Buy Minnan's&nbsp;!</a>
    </div>
</div>

