 <!-- sidebar -->
<div class="sidebar">
    <!-- most popular -->
    @Html.Partial("_ProductRecommend")
    <!-- /most popular -->
    <!-- latest tweets -->
    @Html.Partial("_OnlineService")
    <!-- /latest tweets -->
    <!-- acc tabs -->
    <div class="acc_tabs">
        <div id="tabs">
            <ul class="tab_select">
                <li><a href="#tab-1">Archives</a></li>
                <li><a href="#tab-2">Categories</a></li>
            </ul>
            <div id="tab-1">
                <ul>
                    <li><a href="#">January 2012 (12)</a></li>
                    <li><a href="#">February 2012 (12)</a></li>
                    <li><a href="#">March 2012 (12)</a></li>
                    <li><a href="#">April 2012 (12)</a></li>
                    <li><a href="#">May 2012 (12)</a></li>
                    <li><a href="#">June 2012 (12)</a></li>
                    <li><a href="#">July 2012 (12)</a></li>
                </ul>
            </div>
            <div id="tab-2">
                <ul>
                    <li><a href="#">Cat 1</a></li>
                    <li><a href="#">Cat 2</a></li>
                    <li><a href="#">Cat 3</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /acc tabs -->
    <!-- our clients -->
    @Html.Partial("_Feedback")
    <!-- /our clients -->
</div>
<!-- /sidebar -->
