 <!-- sidebar -->
<div class="sidebar">
    <!-- most popular -->
    <div class="most_popular">
        <h4>Most Popular Blog Posts</h4>
        <ul>
            <li>
                <div class="bwWrapper"><a href="blog_post.html"><img src="~/images/blog/blog_23.png" width="60" height="55" alt="" /></a></div>
                <div class="desc">
                    <p><strong><a href="blog_post.html">Being Creative Work</a></strong></p>
                    <p>Sectetut amet fermens ...</p>
                    <p><span>February 15th 2012   <a href="#">By Crucio</a></span></p>
                </div>
            </li>
            <li>
                <div class="bwWrapper"><a href="blog_post.html"><img src="~/images/blog/blog_24.png" width="60" height="55" alt="" /></a></div>
                <div class="desc">
                    <p><strong><a href="blog_post.html">Being Creative Work</a></strong></p>
                    <p>Sectetut amet fermens ...</p>
                    <p><span>February 15th 2012   <a href="#">By Crucio</a></span></p>
                </div>
            </li>
            <li>
                <div class="bwWrapper"><a href="blog_post.html"><img src="~/images/blog/blog_25.png" width="60" height="55" alt="" /></a></div>
                <div class="desc">
                    <p><strong><a href="blog_post.html">Being Creative Work</a></strong></p>
                    <p>Sectetut amet fermens ...</p>
                    <p><span>February 15th 2012   <a href="#">By Crucio</a></span></p>
                </div>
            </li>
        </ul>
    </div>
    <!-- /most popular -->
    <!-- acc tabs -->
    <div class="acc_tabs">
        <div id="tabs">
            <ul class="tab_select">
                <li><a href="#tab-1">Archives</a></li>
                <li><a href="#tab-2">Categories</a></li>
            </ul>
            <div id="tab-1">
                <ul>
                    <li><a href="#">January 2012 (12)</a></li>
                    <li><a href="#">February 2012 (12)</a></li>
                    <li><a href="#">March 2012 (12)</a></li>
                    <li><a href="#">April 2012 (12)</a></li>
                    <li><a href="#">May 2012 (12)</a></li>
                    <li><a href="#">June 2012 (12)</a></li>
                    <li><a href="#">July 2012 (12)</a></li>
                </ul>
            </div>
            <div id="tab-2">
                <ul>
                    <li><a href="#">Cat 1</a></li>
                    <li><a href="#">Cat 2</a></li>
                    <li><a href="#">Cat 3</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /acc tabs -->
    <!-- our clients -->
    <div class="our_clients">
        <h4>Our Clients Just Love Us</h4>
        <ul class="clients_slider">
            <li>
                <blockquote>
                    <p>"Nam libero tempore, cum soluta nobis est eligendi optio cumque nihl impedit quois minus id quod maxime placeat facere rendus sit sadipsamets."</p>
                    <p>Jane Doe, CEO of Imperio</p>
                </blockquote>
            </li>
            <li>
                <blockquote>
                    <p>"Cum soluta nobis est eligendi optio cumque nihl impedit quois minus id quod maxime placeait sadipsamets."</p>
                    <p>Jane Doe, CEO of Imperio</p>
                </blockquote>
            </li>
            <li>
                <blockquote>
                    <p>"Libero tempore, cuendi optio cumque nihl impedit quois minus id quod maxime placeat facere rendus sit sadipsamets."</p>
                    <p>Jane Doe, CEO of Imperio</p>
                </blockquote>
            </li>
            <li>
                <blockquote>
                    <p>"Nam libero tempore, cum soluta nobis es nihl impedit quois minus id quod maxime placeat facere rendus sit sadipsamets."</p>
                    <p>Jane Doe, CEO of Imperio</p>
                </blockquote>
            </li>
            <li>
                <blockquote>
                    <p>"Am libero tempore, cum soluta nobis est eligendi optio cumque ipsamets."</p>
                    <p>Jane Doe, CEO of Imperio</p>
                </blockquote>
            </li>
        </ul>
    </div>
    <!-- /our clients -->
</div>
<!-- /sidebar -->
