<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Triple Win Technology Co.Ltd</title>
    <link rel="icon" type="image/png" href="/HtmlTemplate/images/favicon.ico" />
    <link rel="apple-touch-icon" href="/HtmlTemplate/images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/HtmlTemplate/images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/HtmlTemplate/images/apple-touch-icon-114x114.png" />
    <link href="stylesheets/googleFonts.css" rel="stylesheet" type='text/css' />
    <link rel="stylesheet" href="/HtmlTemplate/stylesheets/style.css" />
    <link rel="stylesheet" href="/HtmlTemplate/stylesheets/responsive.css" />
    <link rel="stylesheet" href="/HtmlTemplate/stylesheets/jquery.onebyone.css" />
    <script src="/HtmlTemplate/scripts/jquery.min.js"></script>
    <script src="/HtmlTemplate/scripts/jquery.bxSlider.min.js"></script>
    <script src="/HtmlTemplate/scripts/jquery.onebyone.min.js"></script>
    <script src="/HtmlTemplate/scripts/jquery.touchwipe.min.js"></script>
    <script src="/HtmlTemplate/scripts/jquery.blackandwhite.min.js"></script>
    <script src="/HtmlTemplate/scripts/js_func.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <div class="wraper">
        <header class="header">
            <a class="logo" href="/Home/Index">construct</a>
            <nav>
                <!-- top menu -->
                <ul>
                    <li>
                        <a href="/Home/Index">Home</a>
                    </li>

                    <li>
                        <a href="/AboutUs/Index">About Us</a>
                        <ul>
                            <li><a href="/AboutUs/Index">About Us</a></li>
                            <li><a href="/DeviceWorkshop/Index">Device&Workshop</a></li>
                            <li><a href="/ContactUs/Index">Contact Us</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/OurOffering/Index">Products</a>
                        <ul>
                            <li><a href="/OurOffering/Index">Our offering</a></li>
                            <li><a href="/QualityCertificates/Index">Quality Certificates</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/IndustryNews/Index">News</a>
                        <ul>
                            <li><a href="/IndustryNews/Index">Industry News</a></li>
                            <li><a href="/CompanyNews/Index">Company News</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/ServicesSupport/Index">Services&Support</a>
                        <ul>
                            <li><a href="/Process/Index">Process</a></li>
                            <li><a href="/TechnologySupport/Index">Technology Support</a></li>
                            <li><a href="/FAQ/Index">FAQ</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/TalentStrategy/Index">Careers</a>
                        <ul>
                            <li><a href="/TalentStrategy/Index">Talent Strategy</a></li>
                            <li><a href="/Recruit/Index">Recruit</a></li>
                            <li><a href="/OurTeam/Index">Our Team</a></li>

                        </ul>
                    </li>
                </ul>
                <!-- /top menu -->
            </nav>
        </header>
    </div>
    @RenderBody()
    <div class="footer">
        <footer>
            <!-- bottom about -->
            <div class="bottom_about">
                <p><img src="/HtmlTemplate/images/logo.png" alt="" /></p>
                <p>At vero eos et accusaus et iusto unir un dignissimos ducimus quirds siter ters pi blranditiis praesentium amets voluptatum un deleniti atque corrupti quosdirs dolores etra quasir moltias unstw excepturi sinte amets occaecatires.</p>
            </div>
            <!-- /bottom about -->
            <!-- recent tweets -->
            <div class="recent_tweets">
                <h3><span>Recent Tweets</span></h3>
                <ul>
                    <li><a href="#">@*@laurakalbag*@</a> I will be very soon. Ase result reco endation <a href="#">31 minutes ago</a></li>
                    <li><a href="#">@*@laurakalbag*@</a> you got chocolates!? That's i I'm signing up. <a href="#">37 minutes ago</a></li>
                </ul>
            </div>
            <!-- /recent tweets -->
            <!-- recent posts -->
            <div class="recent_posts">
                <h3><span>Recent Posts</span></h3>
                <ul>
                    <li><a href="#">Lorem ipsum dolo amet consecect</a></li>
                    <li><a href="#">Sed laoreet neque nonte mauris </a></li>
                    <li><a href="#">Metus lacus, porta vestibulum</a></li>
                    <li><a href="#">Morbi ac magna est ornare eliticits</a></li>
                    <li><a href="#">Voluptas sadips nemis un etras</a></li>
                </ul>
            </div>
            <!-- /recent posts -->
            <!-- subscribe block -->
            <div class="subscribe_block">
                <h3><span>Stay Connected</span></h3>
                <form method="post" action="#">
                    <p><input type="text" id="name" value="NAME ..." /></p>
                    <p><input type="text" id="email" value="EMAIL ..." /></p>
                    <p><input type="submit" value="Subscribe" /></p>
                </form>
            </div>
            <!-- /subscribe block -->
        </footer>
    </div>
    <!-- copyright -->
    <div class="copyright">
        <div class="wraper">
            <p>&copy; Copyright &copy; 2014.Triple Win Technology Co.Ltd Company All rights reserved.</p>
            <a class="top" href="#">Back to the top</a>
        </div>
    </div>
    <!-- /copyright -->
    <!-- /footer -->
    <div style="display:block">
        <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
    </div>
</body>
</html>
