
<div class="latest_tweets">
    <h4>Online Service</h4>
    <ul>
        <li>Contact <a href="skype:echo123?call" onclick="return skypeCheck();">@@Service Français-Elis &nbsp;<img src="~/Images/fr.Skype.png" /></a></li>
        <li>Contact <a href="skype:echo123?call" onclick="return skypeCheck();">@@Service Français-Elis &nbsp;<img src="~/Images/fr.Skype.png" /></a></li>
        <li>Contact <a href="skype:echo123?call" onclick="return skypeCheck();">@@Service Français-Elis &nbsp;<img src="~/Images/fr.Skype.png" /></a></li>
    </ul>
</div>

