@model ZdtbSite.Web.Areas.ZdtbAdmin.Models.ProductViewModel

<div class="most_popular">
    <h4>Most Popular Series</h4>
    <ul>
        <li>
            <div class="bwWrapper"><a href="blog_post.html"><img src="/HtmlTemplate/images/blog/blog_23.png" width="60" height="55" alt="" /></a></div>
            <div class="desc">
                <p><strong><a href="blog_post.html">Dry type Power Transformer</a></strong></p>
                <p>Sectetut amet fermens ...</p>
            </div>
        </li>
        <li>
            <div class="bwWrapper"><a href="blog_post.html"><img src="/HtmlTemplate/images/blog/blog_24.png" width="60" height="55" alt="" /></a></div>
            <div class="desc">
                <p><strong><a href="blog_post.html">Oil Immersed Power Transformer</a></strong></p>
                <p>Sectetut amet fermens ...</p>
            </div>
        </li>
        <li>
            <div class="bwWrapper"><a href="blog_post.html"><img src="/HtmlTemplate/images/blog/blog_25.png" width="60" height="55" alt="" /></a></div>
            <div class="desc">
                <p><strong><a href="blog_post.html">Switchgear</a></strong></p>
                <p>Sectetut amet fermens ...</p>
                <p><span>February 15th 2012   <a href="#">By Crucio</a></span></p>
            </div>
        </li>
    </ul>
</div>
