<form action="/ZdtbAdmin/Account/Add" method="post">
    <input type="text" name="name" value=" " />
    <input type="submit" name="name" value="提交" />
</form>
@section script{
    <link href="~/Areas/ZdtbAdmin/Content/css/messenger/messenger.css" rel="stylesheet" />
    <link href="~/Areas/ZdtbAdmin/Content/css/messenger/messenger-theme-future.css" rel="stylesheet" />
    <script src="~/Areas/ZdtbAdmin/Content/js/libs/jquery.form.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/messenger/bootbox.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/messenger/messenger.min.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/messenger/messenger-theme-flat.js"></script>
    <script src="~/Areas/ZdtbAdmin/Content/js/common.js"></script>
}