<form action="/ZdtbAdmin/Account/Add" method="post">
    <input type="text" name="name" value=" " />
    <input type="submit" name="name" value="提交" />
</form>
@section script{
    @Html.Partial("ImportFormPageJs")
<script>
    $(function () {
        modalLoading("shit");
    });
    </script>
}

