@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header{
    @Scripts.Render("~/Script/ArticleIndex")
    @Styles.Render("~/Style/AboutIndex")
    <script>
        $(function () {
            $('.clients_slider').bxSlider({
                auto: false,
                controls: false,
                mode: 'fade',
                pager: true
            });
            $('.recent_slider').bxSlider({
                auto: false,
                displaySlideQty: 1,
                moveSlideQty: 1,
                speed: 1000
            });
            $('#faq').dltoggle();
            $("#open").click(function (event) {
                $('#faq').dltoggle_show();
                return false;
            });
            $("#close").click(function (event) {
                $('#faq').dltoggle_hide();
                return false;
            });
            $('.bwWrapper').BlackAndWhite({
                hoverEffect: true,
                webworkerPath: false,
                responsive: true,
                invertHoverEffect: false
            });
        })
    </script>
}

<div class="content_block">
    <!-- top_title -->
    <div class="top_title">
        <div class="wraper">
            <h2>Product<span>Keep up with the latest news, tips and features right here!</span></h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li>Blog Post</li>
            </ul>
        </div>
    </div>
    <!-- /top_title -->
    <div class="wraper">
        @Html.Partial("_Detail")
        <!-- sidebar -->
        <div class="sidebar">
            <!-- most popular -->
            <div class="most_popular">
                <h4>Most Popular Blog Posts</h4>
                <ul>
                    <li>
                        <div class="bwWrapper"><a href="blog_post.html"><img src="~/images/blog/blog_23.png" width="60" height="55" alt="" /></a></div>
                        <div class="desc">
                            <p><strong><a href="blog_post.html">Being Creative Work</a></strong></p>
                            <p>Sectetut amet fermens ...</p>
                            <p><span>February 15th 2012   <a href="#">By Crucio</a></span></p>
                        </div>
                    </li>
                    <li>
                        <div class="bwWrapper"><a href="blog_post.html"><img src="~/images/blog/blog_24.png" width="60" height="55" alt="" /></a></div>
                        <div class="desc">
                            <p><strong><a href="blog_post.html">Being Creative Work</a></strong></p>
                            <p>Sectetut amet fermens ...</p>
                            <p><span>February 15th 2012   <a href="#">By Crucio</a></span></p>
                        </div>
                    </li>
                    <li>
                        <div class="bwWrapper"><a href="blog_post.html"><img src="~/images/blog/blog_25.png" width="60" height="55" alt="" /></a></div>
                        <div class="desc">
                            <p><strong><a href="blog_post.html">Being Creative Work</a></strong></p>
                            <p>Sectetut amet fermens ...</p>
                            <p><span>February 15th 2012   <a href="#">By Crucio</a></span></p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /most popular -->
            <!-- latest tweets -->
            @Html.Partial("_OnlineService")
            <!-- /latest tweets -->
        </div>
        <!-- /sidebar -->
    </div>
</div>
