@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Header{
    <link href='http://fonts.useso.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/stylesheets/style.css" />
    <link rel="stylesheet" href="~/stylesheets/responsive.css" />
    <link rel="stylesheet" href="~/stylesheets/nivoslider.css" />
    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/jquery.bxSlider.min.js"></script>
    <script src="~/scripts/jquery.nivo.slider.js"></script>
    <script src="~/scripts/jquery.blackandwhite.min.js"></script>
    <script src="~/scripts/js_func.js"></script>
    <script>
        $(function () {
            $('#slider').nivoSlider({
                controlNav: false
            });
            $('.post_slider').bxSlider({
                auto: false,
                speed: 1000
            });
            $('.clients_slider').bxSlider({
                auto: false,
                controls: false,
                mode: 'fade',
                pager: true
            });
            $('.bwWrapper').BlackAndWhite({
                hoverEffect: true,
                webworkerPath: false,
                responsive: true,
                invertHoverEffect: false
            });
        })
    </script>
}

<!-- nivo slider -->
<div class="nivo-wrap">
    <div class="wraper">
        <!--<div class="fallback"><img src="images/sliders/home_page_4/fallback.png" alt="" /></div>-->
        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
                <img src="~/images/ProductType/BoxSubstation.jpg" width="933" height="377" data-thumb="~/images/features/img.png" alt="" title="#htmlcaption" />
                <img src="~/images/ProductType/PowerTransformer.jpg" width="933" height="377" data-thumb="~/images/features/img.png" alt="" title="#htmlcaption2" />
                <img src="~/images/ProductType/switchgear.jpg" width="933" height="377" data-thumb="~/images/features/img.png" alt="" title="#htmlcaption3" />
            </div>
            <div id="htmlcaption" class="dd nivo-html-caption">
                <span class="tit">Minnan's</span><strong class="tit2">Box Substation</strong> 
            </div>
            <div id="htmlcaption2" class="dd nivo-html-caption">
                <span class="tit">Minnan's</span><strong class="tit2">Transformer</strong>
            </div>
            <div id="htmlcaption3" class="dd nivo-html-caption">
                <span class="tit">Minnan's</span><strong class="tit2">Switchgear</strong>
            </div>
        </div>
    </div>
</div>
<!-- /nivo slider -->

<div class="content_block">
    <!-- text bar2 -->
    @Html.Partial("_BuyMinnan")
    <!-- /text bar2 -->
    <div class="wraper">
        <!-- blog entries full -->
        <div class="blog_entries blog_entries_full">
            @for (int i = 0; i < 2; i++)
            {
                <div class="post post_medium">
                    <div class="img_wrap bwWrapper">
                        <div class="date">April 2, 2012</div>
                        <a href="@Url.Action("ProductDetail", "Product", new { id = 1 })"><img src="~/images/blog/blog_01.jpg" width="493" height="249" alt="" /></a>
                    </div>
                    <div class="desc">
                        <h4><a href="@Url.Action("ProductDetail", "Product", new { id = 1 })">11kv Oil immersed power distribution transformer</a></h4>
                        <p>S9 and S11 series three-phase oil-immersed power distributing transformers apply new type insulating structure and make short-circuit resistance strong. The iron core is made of high-quality cold-rolled silicon-steel plate. High –voltage winding group is made up of high-quality oxygen-free copper lines and it adopts multilayered drum type structure. All fasteners have been processed with special treatment to prevent them from loosening. As country promoted high-tech product</p>
                        <div class="metadata">
                            <strong class="dots">....</strong>
                            <a href="@Url.Action("ProductDetail", "Product", new { id = 1 })" class="read_more btn_col">Read More</a>
                        </div>
                    </div>
                </div>
            }

            <!-- pager_nav -->
            <div class="pager_nav">
                <a href="#">1</a><span>2</span><a href="#">3</a><a href="#">4</a><a href="#">5</a>
                <a href="#" class="bx-prev">prev</a><a href="#" class="bx-next">next</a>
            </div>
            <!-- /pager_nav -->
        </div>
        <!-- /blog entries full -->
    </div>
</div>