@using System.Web.Optimization

@{
    ViewBag.Title = "Quality Certificates";
}
@section Header{
    @Styles.Render("~/Style/AboutIndex")
}

<div class="content_block">
    <!-- top_title -->
    <div class="top_title">
        <div class="wraper">
            <h2>Quality Certificates<span>This is a sample page with a left navigation option</span></h2>
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("Index", "Product")">Product</a></li>
                <li>Quality Certificates</li>
            </ul>
        </div>
    </div>
    <!-- /top_title -->
    <div class="wraper">
        <!-- right_nav -->
        <div class="left_nav right_nav">
            <div id="tabs" class="c_after">
                <ul class="tab_select">
                    <li><a href="#tab-1">ISO 9001:2008</a></li>
                    <li><a href="#tab-2">ISO 14001:2004</a></li>
                    <li><a href="#tab-3">OHSAS 18001:2007</a></li>
                    <li><a href="#tab-4">ISO 3834-2:2005</a></li>
                    <li><a href="#tab-5">GOST R ISO 9001:2008</a></li>
                    <li><a href="#tab-6">DSTU ISO 17095:2005</a></li>
                </ul>
                <div id="tab-1">
                    <p class="wp_img">
                        <img src="~/Images/Cert/ISO90012008_nEO_IMG.jpg" />
                        <span>The company ensures safety production and health protection of the staff.Outstanding features of ZTR</span>
                    </p>
                    <p></p>
                    <ul>
                        <li> activities in accordance with legislative acts, codes and regulations as for labor protection valid in China;</li>
                        <li> realization of management and production decisions with consideration of dangers and risks of planned activities, as well as those providing prevention of losses and diseases;</li>
                        <li> implementation of periodical information for all interested parties as referred to ZTR activities in the field safety and health protection;</li>
                        <li> introduction of management system in the field of safety and health protection in accordance with the requirements of OHSAS 18001 standard and its permanent improvement;</li>
                        <li> assurance of industrial safety of manufacturing entities, decrease of dangers and risks at the expense of reliability enhancement of technological equipment, provision of its safety and trouble-free operation as well as improvement of management system.</li>
                    </ul>
                </div>
                <div id="tab-2">
                    <p class="wp_img">
                        <img src="~/Images/Cert/ISO140012004_nEO_IMG.jpg" />
                        <span>The company ensures safety production and health protection of the staff.Outstanding features of ZTR</span>
                    </p>
                    <p></p>
                    <ul>
                        <li> activities in accordance with legislative acts, codes and regulations as for labor protection valid in China;</li>
                        <li> realization of management and production decisions with consideration of dangers and risks of planned activities, as well as those providing prevention of losses and diseases;</li>
                        <li> implementation of periodical information for all interested parties as referred to ZTR activities in the field safety and health protection;</li>
                        <li> introduction of management system in the field of safety and health protection in accordance with the requirements of OHSAS 18001 standard and its permanent improvement;</li>
                        <li> assurance of industrial safety of manufacturing entities, decrease of dangers and risks at the expense of reliability enhancement of technological equipment, provision of its safety and trouble-free operation as well as improvement of management system.</li>
                    </ul>
                </div>
                <div id="tab-3">
                    <p class="wp_img">
                        <img src="~/Images/Cert/OHSAS180012007_nEO_IMG.jpg" />
                        <span>The company ensures safety production and health protection of the staff.Outstanding features of ZTR</span>
                    </p>
                    <p></p>
                    <ul>
                        <li> activities in accordance with legislative acts, codes and regulations as for labor protection valid in China;</li>
                        <li> realization of management and production decisions with consideration of dangers and risks of planned activities, as well as those providing prevention of losses and diseases;</li>
                        <li> implementation of periodical information for all interested parties as referred to ZTR activities in the field safety and health protection;</li>
                        <li> introduction of management system in the field of safety and health protection in accordance with the requirements of OHSAS 18001 standard and its permanent improvement;</li>
                        <li> assurance of industrial safety of manufacturing entities, decrease of dangers and risks at the expense of reliability enhancement of technological equipment, provision of its safety and trouble-free operation as well as improvement of management system.</li>
                    </ul>
                </div>
                <div id="tab-4">
                    <p class="wp_img">
                        <img src="~/Images/Cert/GOSTRISO90012008_nEO_IMG.jpg" />
                        <span>The company ensures safety production and health protection of the staff.Outstanding features of ZTR</span>
                    </p>
                    <p></p>
                    <ul>
                        <li> activities in accordance with legislative acts, codes and regulations as for labor protection valid in China;</li>
                        <li> realization of management and production decisions with consideration of dangers and risks of planned activities, as well as those providing prevention of losses and diseases;</li>
                        <li> implementation of periodical information for all interested parties as referred to ZTR activities in the field safety and health protection;</li>
                        <li> introduction of management system in the field of safety and health protection in accordance with the requirements of OHSAS 18001 standard and its permanent improvement;</li>
                        <li> assurance of industrial safety of manufacturing entities, decrease of dangers and risks at the expense of reliability enhancement of technological equipment, provision of its safety and trouble-free operation as well as improvement of management system.</li>
                    </ul>
                </div>
                <div id="tab-5">
                    <p class="wp_img">
                        <img src="~/Images/Cert/ISO383422005_nEO_IMG.jpg" />
                        <span>The company ensures safety production and health protection of the staff.Outstanding features of ZTR</span>
                    </p>
                    <p></p>
                    <ul>
                        <li> activities in accordance with legislative acts, codes and regulations as for labor protection valid in China;</li>
                        <li> realization of management and production decisions with consideration of dangers and risks of planned activities, as well as those providing prevention of losses and diseases;</li>
                        <li> implementation of periodical information for all interested parties as referred to ZTR activities in the field safety and health protection;</li>
                        <li> introduction of management system in the field of safety and health protection in accordance with the requirements of OHSAS 18001 standard and its permanent improvement;</li>
                        <li> assurance of industrial safety of manufacturing entities, decrease of dangers and risks at the expense of reliability enhancement of technological equipment, provision of its safety and trouble-free operation as well as improvement of management system.</li>
                    </ul>
                </div>
                <div id="tab-6">
                    <p class="wp_img">
                        <img src="~/Images/Cert/DSTUISO170952005_nEO_IMG.jpg" />
                        <span>The company ensures safety production and health protection of the staff.Outstanding features of ZTR</span>
                    </p>
                    <p></p>
                    <ul>
                        <li> activities in accordance with legislative acts, codes and regulations as for labor protection valid in China;</li>
                        <li> realization of management and production decisions with consideration of dangers and risks of planned activities, as well as those providing prevention of losses and diseases;</li>
                        <li> implementation of periodical information for all interested parties as referred to ZTR activities in the field safety and health protection;</li>
                        <li> introduction of management system in the field of safety and health protection in accordance with the requirements of OHSAS 18001 standard and its permanent improvement;</li>
                        <li> assurance of industrial safety of manufacturing entities, decrease of dangers and risks at the expense of reliability enhancement of technological equipment, provision of its safety and trouble-free operation as well as improvement of management system.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /right_nav -->

    </div>
</div>
