<div class="fluid-container" style="min-height:400px">
    <section id="widget-grid" class="">
        <div class="row">
            <h1>@HttpContext.Current.Items["LoginUserName"]！您好，欢迎使用本系统！</h1>
        </div>
    </section>
</div>