@using System.Web.Optimization
@{
    ViewBag.Title = "Recruit";
}
@section Header{
    @Scripts.Render("~/Script/ArticleIndex")
    @Styles.Render("~/Style/AboutIndex")
    <script>
        $(function () {
            $('.clients_slider').bxSlider({
                auto: false,
                controls: false,
                mode: 'fade',
                pager: true
            });
            $('.recent_slider').bxSlider({
                auto: false,
                displaySlideQty: 1,
                moveSlideQty: 1,
                speed: 1000
            });
            $('#faq').dltoggle({ "open-image": "images/open.png", "closed-image": "images/closed.png" });
            $("#open").click(function (event) {
                $('#faq').dltoggle_show();
                return false;
            });
            $("#close").click(function (event) {
                $('#faq').dltoggle_hide();
                return false;
            });
            $('.bwWrapper').BlackAndWhite({
                hoverEffect: true,
                webworkerPath: false,
                responsive: true,
                invertHoverEffect: false
            });
        })
    </script>
}

<div class="content_block">
    <!-- top_title -->
    <div class="top_title">
        <div class="wraper">
            <h2>News <span>Keep up with the latest news, tips and features right here!</span></h2>
            <ul>
                <li><a href="@Url.Action("Index", "Careers")">Careers</a></li>
            </ul>
        </div>
    </div>
    <!-- /top_title -->
    <div class="wraper">
        <!-- blog entries full -->
        <div class="blog_entries blog_entries_full">

            @for (int i = 0; i < 4; i++)
            {
                <div class="post post_left">
                    <div class="desc">
                        <h4><a href="@Url.Action("Detail", "Article")">Design Engineer</a></h4>
                        <p>The Individual should be Graduate/Post Graduate in Electrical Engineering with 3 - 5 years of experience in design of power transformers up to 50 MVA, Distribution 16/25/40 KVA of 11/33 KV. Candidate shall have good knowledge of design calculation methods, cost estimation, bill of materials & IEC and related standards. Exposure to computerized calculations is highly desirable.Appy at : rk@krkpower.com</p>
                    </div>
                </div>
            }

            <!-- pager_nav -->
            <div class="pager_nav">
                <a href="#">1</a><span>2</span><a href="#">3</a><a href="#">4</a><a href="#">5</a>
                <a href="#" class="bx-prev">prev</a><a href="#" class="bx-next">next</a>
            </div>
            <!-- /pager_nav -->
        </div>
        <!-- /blog entries full -->

    </div>
</div>