@{
    ViewBag.Title = "OurTeam";
}
@using System.Web.Optimization
@section Header{
    @Scripts.Render("~/Script/Process")
    @Styles.Render("~/Style/AboutIndex")
    <script>
        $(function () {
            $('.bwWrapper').BlackAndWhite({
                hoverEffect: true,
                webworkerPath: false,
                responsive: true,
                invertHoverEffect: false
            });
        });
    </script>
}

<div class="content_block">
    <!-- top_title -->
    <div class="top_title">
        <div class="wraper">
            <h2>Meet The Team<span>These folks make us happy and make us look good!</span></h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li>Meet The Team</li>
            </ul>
        </div>
    </div>
    <!-- /top_title -->
    <div class="wraper">
        <!-- team_option -->
        <div class="team_option">
            <h4>How we work</h4>
            <ul>
                <li>
                    <div class="img bwWrapper"><img src="/HtmlTemplate/images/meet_the_team/meet_team_1.png" width="279" height="141" alt="" /><p><strong>Our guiding principles</strong></p></div>
                    <div class="desc">
                        <p>We have not only ambitious goals but also a clear agreement on how to achieve them: For us, the means are as important as the ends.</p>
                        <p>For that reason, we have a strictly defined set of business principles based on responsibility, respect and determination. These in turn guide the way we work every day, our approach to health and safety and the wider consideration of our responsibilities as a global corporate citizen. </p>
                        <p>We want to be recognized as a world-class leader in everything we do, and we want all of our stakeholders to be proud of their association with ABB. </p>
                        <p>Our principles make that happen. </p>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /team_option -->
        <!-- team_option2 -->
        <div class="team_option team_option2">
            <h4>What we offer</h4>
            <ul>
                <li>
                    <div class="img bwWrapper"><img src="/HtmlTemplate/images/meet_the_team/meet_team_7.png" width="442" height="227" alt="" /></div>
                    <div class="desc">
                        <p><strong>Career development and learning</strong></p>
                        <p>Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibut fermentum mas justo sitters amet risus. Cras mattis cosi sectetut amet fermens tum aecenas faucib sadips amets itecto beatae vitae dicta sunt expllicitis dolores ipsums.</p>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque sits laudan tium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi archerste itecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspe rnatur aut odit tersiaut fugit, sed quia consequuntur magni dolores eos qui ratione volupt atem sequi nesciunt. Neque porro quisquam est, qui dolem ipsum quia.</p>
                    </div>
                </li>
                <li>
                    <div class="img bwWrapper"><img src="/HtmlTemplate/images/meet_the_team/meet_team_8.png" width="442" height="227" alt="" /></div>
                    <div class="desc">
                        <ul class="social">
                            <li><a class="facebook" href="#">Facebook</a></li>
                            <li><a class="twitter" href="#">Twitter</a></li>
                            <li><a class="linkedin" href="#">LinkedIn</a></li>
                        </ul>
                        <p><strong>Joseph McCallister</strong>,<br />President &amp; Founder</p>
                        <p>Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibut fermentum mas justo sitters amet risus. Cras mattis cosi sectetut amet fermens tum aecenas faucib sadips amets itecto beatae vitae dicta sunt expllicitis dolores ipsums.</p>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque sits laudan tium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi archerste itecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspe rnatur aut odit tersiaut fugit, sed quia consequuntur magni dolores eos qui ratione volupt atem sequi nesciunt. Neque porro quisquam est, qui dolem ipsum quia.</p>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /team_option2 -->
        <!-- team_option3 -->
        <div class="team_option team_option3">
            <h4>Meet The Team Option #3</h4>
            <ul>
                <li>
                    <div class="img bwWrapper"><img src="/HtmlTemplate/images/meet_the_team/meet_team_1.png" width="278" height="141" alt="" /></div>
                    <div class="desc">
                        <ul class="social">
                            <li><a class="facebook" href="#">Facebook</a></li>
                            <li><a class="twitter" href="#">Twitter</a></li>
                            <li><a class="linkedin" href="#">LinkedIn</a></li>
                        </ul>
                        <p><strong>Joseph McCallister</strong>,<br />President &amp; Founder</p>
                        <p>Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibut fermentum mas justo sitters amet risus. Cras mattis cosi sectetut amet fermens tum aecenas faucib sadips amets itecto beatae vitae dicta sunt expllicitis dolores ipsums.</p>
                    </div>
                </li>
                <li>
                    <div class="img bwWrapper"><img src="/HtmlTemplate/images/meet_the_team/meet_team_2.png" width="278" height="141" alt="" /></div>
                    <div class="desc">
                        <ul class="social">
                            <li><a class="facebook" href="#">Facebook</a></li>
                            <li><a class="twitter" href="#">Twitter</a></li>
                            <li><a class="linkedin" href="#">LinkedIn</a></li>
                        </ul>
                        <p><strong>Joseph McCallister</strong>,<br />President &amp; Founder</p>
                        <p>Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibut fermentum mas justo sitters amet risus. Cras mattis cosi sectetut amet fermens tum aecenas faucib sadips amets itecto beatae vitae dicta sunt expllicitis dolores ipsums.</p>
                    </div>
                </li>
                <li>
                    <div class="img bwWrapper"><img src="/HtmlTemplate/images/meet_the_team/meet_team_3.png" width="278" height="141" alt="" /></div>
                    <div class="desc">
                        <ul class="social">
                            <li><a class="facebook" href="#">Facebook</a></li>
                            <li><a class="twitter" href="#">Twitter</a></li>
                            <li><a class="linkedin" href="#">LinkedIn</a></li>
                        </ul>
                        <p><strong>Joseph McCallister</strong>,<br />President &amp; Founder</p>
                        <p>Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibut fermentum mas justo sitters amet risus. Cras mattis cosi sectetut amet fermens tum aecenas faucib sadips amets itecto beatae vitae dicta sunt expllicitis dolores ipsums.</p>
                    </div>
                </li>
                <li>
                    <div class="img bwWrapper"><img src="/HtmlTemplate/images/meet_the_team/meet_team_4.png" width="278" height="141" alt="" /></div>
                    <div class="desc">
                        <ul class="social">
                            <li><a class="facebook" href="#">Facebook</a></li>
                            <li><a class="twitter" href="#">Twitter</a></li>
                            <li><a class="linkedin" href="#">LinkedIn</a></li>
                        </ul>
                        <p><strong>Joseph McCallister</strong>,<br />President &amp; Founder</p>
                        <p>Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibut fermentum mas justo sitters amet risus. Cras mattis cosi sectetut amet fermens tum aecenas faucib sadips amets itecto beatae vitae dicta sunt expllicitis dolores ipsums.</p>
                    </div>
                </li>
                <li>
                    <div class="img bwWrapper"><img src="/HtmlTemplate/images/meet_the_team/meet_team_5.png" width="278" height="141" alt="" /></div>
                    <div class="desc">
                        <ul class="social">
                            <li><a class="facebook" href="#">Facebook</a></li>
                            <li><a class="twitter" href="#">Twitter</a></li>
                            <li><a class="linkedin" href="#">LinkedIn</a></li>
                        </ul>
                        <p><strong>Joseph McCallister</strong>,<br />President &amp; Founder</p>
                        <p>Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibut fermentum mas justo sitters amet risus. Cras mattis cosi sectetut amet fermens tum aecenas faucib sadips amets itecto beatae vitae dicta sunt expllicitis dolores ipsums.</p>
                    </div>
                </li>
                <li>
                    <div class="img bwWrapper"><img src="/HtmlTemplate/images/meet_the_team/meet_team_6.png" width="278" height="141" alt="" /></div>
                    <div class="desc">
                        <ul class="social">
                            <li><a class="facebook" href="#">Facebook</a></li>
                            <li><a class="twitter" href="#">Twitter</a></li>
                            <li><a class="linkedin" href="#">LinkedIn</a></li>
                        </ul>
                        <p><strong>Joseph McCallister</strong>,<br />President &amp; Founder</p>
                        <p>Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibut fermentum mas justo sitters amet risus. Cras mattis cosi sectetut amet fermens tum aecenas faucib sadips amets itecto beatae vitae dicta sunt expllicitis dolores ipsums.</p>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /team_option3 -->
        <!-- team_option4 -->
        <!--<div class="team_option team_option4">
         <h4>Meet The Team Option #4</h4>
         <ul>
          <li>
           <div class="img bwWrapper"><img src="images/meet_the_team/meet_team_1.png" width="278" height="141" alt="" /></div>
           <div class="desc">
            <ul class="social">
             <li><a class="facebook" href="#">Facebook</a></li>
             <li><a class="twitter" href="#">Twitter</a></li>
             <li><a class="linkedin" href="#">LinkedIn</a></li>
            </ul>
            <p><strong>Joseph McCallister</strong>,<br />President &amp; Founder</p>
            <p>Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibut fermentum mas justo sitters amet risus. Cras mattis cosi sectetut amet fermens tum aecenas faucib sadips amets itecto beatae vitae dicta sunt expllicitis dolores ipsums.</p>
           </div>
           <div class="rate">
            <p>Web Design<span><span class="blue w90"><strong>9.0</strong></span></span></p>
            <p>Html/CSS<span><span class="blue w95"><strong>9.5</strong></span></span></p>
            <p>Javascript<span><span class="blue w80"><strong>8.0</strong></span></span></p>
           </div>
          </li>
          <li>
           <div class="img bwWrapper"><img src="images/meet_the_team/meet_team_2.png" width="278" height="141" alt="" /></div>
           <div class="desc">
            <ul class="social">
             <li><a class="facebook" href="#">Facebook</a></li>
             <li><a class="twitter" href="#">Twitter</a></li>
             <li><a class="linkedin" href="#">LinkedIn</a></li>
            </ul>
            <p><strong>Joseph McCallister</strong>,<br />President &amp; Founder</p>
            <p>Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibut fermentum mas justo sitters amet risus. Cras mattis cosi sectetut amet fermens tum aecenas faucib sadips amets itecto beatae vitae dicta sunt expllicitis dolores ipsums.</p>
           </div>
           <div class="rate">
            <p>Web Design<span><span class="blue w90"><strong>9.0</strong></span></span></p>
            <p>Html/CSS<span><span class="blue w95"><strong>9.5</strong></span></span></p>
            <p>Javascript<span><span class="blue w80"><strong>8.0</strong></span></span></p>
           </div>
          </li>
         </ul>
        </div>-->
        <!-- /team_option4 -->

    </div>
</div>