@{
    ViewBag.Title = "OurTeam";
}
@using System.Web.Optimization
@section Header{
    @Scripts.Render("~/Script/Process")
    @Styles.Render("~/Style/AboutIndex")
    <script>
        $(function () {
            $('.bwWrapper').BlackAndWhite({
                hoverEffect: true,
                webworkerPath: false,
                responsive: true,
                invertHoverEffect: false
            });
        });
    </script>
}

<div class="content_block">
    <!-- top_title -->
    <div class="top_title">
        <div class="wraper">
            <h2>Meet The Team<span>These folks make us happy and make us look good!</span></h2>
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("Index", "Careers")">Careers</a></li>
                <li>OurTeam</li>
            </ul>
        </div>
    </div>
    <!-- /top_title -->
    <div class="wraper">
        <!-- team_option -->
        <div class="team_option">
            <h4>How we work</h4>
            <ul>
                <li>
                    <div class="img"><img src="~/images/meet_the_team/meet_team_1.png" width="279" height="141" alt="" /><p><strong>Our guiding principles</strong></p></div>
                    <div class="desc">
                        <p>We have not only ambitious goals but also a clear agreement on how to achieve them: For us, the means are as important as the ends.</p>
                        <p>For that reason, we have a strictly defined set of business principles based on responsibility, respect and determination. These in turn guide the way we work every day, our approach to health and safety and the wider consideration of our responsibilities as a global corporate citizen. </p>
                        <p>We want to be recognized as a world-class leader in everything we do, and we want all of our stakeholders to be proud of their association with Minnan. </p>
                        <p>Our principles make that happen. </p>
                    </div>
                </li>
                <li>
                    <div class="img"><img src="~/images/meet_the_team/meet_team_2.png" width="279" height="141" alt="" /><p><strong>Your start at Minnan</strong></p></div>
                    <div class="desc">
                        <p>Minnan strives to help new employees feel at home as quickly as possible.</p>
                        <p>At Minnan, we know that the first day in a new job can be a little daunting. That’s why we do our best to ensure all new employees receive a warm welcome, and get all the information they need to fit into the team and to understand how things work.</p>
                        <p>Because we recruit thousands of people every year for many different roles worldwide, the introductory process differs from place to place. But when you arrive on your first day, you can expect to be welcomed by a member of your team or an HR representative, and to have your workplace ready and waiting for you. </p>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /team_option -->
        <!-- team_option2 -->
        <div class="team_option team_option2">
            <h4>What we offer</h4>
            <ul>
                <li>
                    <div class="img"><img src="~/images/meet_the_team/meet_team_7.png" width="442" height="227" alt="" /></div>
                    <div class="desc">
                        <p><strong>Diversity and inclusiveness</strong></p>
                        <p>The key to our success</p>
                        <p>Diversity and inclusiveness help us to deliver power and productivity. </p>
                        <p>We work on some of the biggest challenges facing business and society today, right around the globe. To succeed, we need to understand the people we serve and the cultures they live in. That means we need talented people from all over the world</p>
                        <p>At Minnan, we welcome different ways of thinking and acting, different qualities and skills, different experiences and backgrounds. We value them because we are dedicated to being inclusive, recognizing and respecting all aspects of what makes someone unique.</p>
                    </div>
                </li>
                <li>
                    <div class="img"><img src="~/images/meet_the_team/meet_team_8.png" width="442" height="227" alt="" /></div>
                    <div class="desc">
                        <p><strong>Rewards and benefits</strong></p>
                        <p>As a global company, we set common remuneration principles that are then translated into local packages.</p>
                        <p>We know that compensation is important and believe it should be fair and consistent. </p>
                        <p>Therefore, we apply a job evaluation methodology using consistent criteria to establish the value of a job. We have created a long-term remuneration strategy to continuously improve our offering and make our rewards and benefits as relevant and effective as possible. </p>
                        <p>Wherever you work for us, we strive to make sure your compensation is competitive and fair. </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>