@using System.Web.Optimization

@{
    ViewBag.Title = "TalentStrategy";
}
@section Header{
    @Scripts.Render("~/Script/Process")
    @Styles.Render("~/Style/AboutIndex")
    <script>
        $(function () {
            $('.bwWrapper').BlackAndWhite({
                hoverEffect: true,
                webworkerPath: false,
                responsive: true,
                invertHoverEffect: false
            });
        })
    </script>
}


<div class="content_block">
    <!-- top_title -->
    <div class="top_title">
        <div class="wraper">
            <h2>Project Title Goes Here <span>Small subhead description goes here</span></h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Portfolio Single Post</a></li>
                <li>Full Width</li>
            </ul>
        </div>
    </div>
    <!-- /top_title -->
    <div class="wraper">
        <!-- Portfolio Single Post Full Width -->
        <div class="single_full">
            <a href="#" class="bx-prev">prev</a><a href="#" class="bx-next">next</a>
            <ul>
                <li>
                    <div class="img bwWrapper"><img src="/HtmlTemplate/images/portfolio/portfolio_01.jpg" width="950" height="342" alt="" /></div>
                    <div class="desc">
                        <div class="things_list">
                            <h4>Things We Did</h4>
                            <i>Our Crazy Skills</i>
                            <ul>
                                <li>Overall Design</li>
                                <li>HMTL/CSS</li>
                                <li>Wordpress</li>
                                <li>User Interface</li>
                            </ul>
                            <p><a class="btn_m" href="#">Visit Website</a></p>
                        </div>
                        <h4>Project Title Goes Here</h4>
                        <i>Graphic Design, Web Design, Branding</i>
                        <p>Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum mas justo sitters amet risus. Cras mattis cosi sectetut amet fermens tum aecenas faucib sadips amets. Libero tempore, cum soluta nobis est eligen di optio cumque nihil impedit quo minus id omnis voluptas assumenda est, omnis dolor repellendus sadips ipsums fugiats vitae voluptas dolores amets untras.  Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus minus id omnis voluptas assumenda est, omnis dolor repediats sadips sipusms dolores amet nemis sadips untras. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /Portfolio Single Post Full Width -->
    </div>
</div>